* {
    margin: 0;
    padding: 0;
}

.search {
    min-height: calc(100vh);
    padding-top: 20px;
}

h1 {
    text-align: center;
}

.input {
    width: 100px;
    margin-left: 45%;
}

.items {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 500px;
    margin: 20px;
}

img {
    width: 100%;
}

form {
    text-align: center;
}

li {
    list-style: none;
}

.scrollerFooter {
    width: 100%;
    height: 50px;
    background-color: black;
}
