<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Task 3</title>
        <link href="js/lightbox/css/lightbox.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <div class="search">
            <form id="search-form">
                <input
                    type="text"
                    name="query"
                    class="input-search"
                    autocomplete="off"
                    placeholder="Search images..."
                />
            </form>
            <div id="container"></div>
            <script type="text/template" id="template">
                <ul class="items">
                  <% _.forEach (hits, function(item) { %>
                    <li class="item">
                      <a href="<%- item.largeImageURL %>" data-lightbox="image">
                        <img src="<%- item.webformatURL %>">
                      </a>
                    </li>
                    <%});%>
                </ul>
            </script>
        </div>
        <div class="scrollerFooter"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="js/lodash.min.js"></script>
        <script src="js/lightbox/js/lightbox.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>
